.footer {

  position: fixed;
  bottom: 0;
  width: 100%;
  flex: 0 0 50px;
  margin-top: auto;
  height: 95px;
  text-align: center;

  background: rgba(0, 0, 0, 0.76);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.socialMedia svg {
  color: rgb(255, 255, 255);
  font-size: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.socialMedia:focus svg {
  outline: none;
}

.footer p {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;

  }
}